python-telegram-bot[job-queue]
APScheduler
pymongo
dnspython
flask
google-generativeai
psutil
pytz
edge-tts
ffmpeg-python
tgcrypto
py-tgcalls==0.9.7
nest_asyncio
Pillow
python-dotenv
youtube-search-python
aiohttp
aiofiles
httpx==0.27.2
git+https://github.com/KurimuzonAkuma/pyrogram
git+https://github.com/yt-dlp/yt-dlp

