# --- Main Bot ---
python-telegram-bot
pymongo
dnspython
flask
google-generativeai
psutil
pytz
edge-tts
Pillow

# --- Music Engine (Tested & Stable) ---
# Ye combination music bots ke liye standard hai
pyrogram==2.0.106
py-tgcalls==2.2.8
tgcrypto
yt-dlp
youtube-search-python
ffmpeg-python

